<!DOCTYPE web-app PUBLIC
        "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
    <display-name>Archetype Created Web Application</display-name>
    <filter>
        <filter-name>myFilter1</filter-name>
        <filter-class>MyFilter</filter-class>
        <init-param>
            <param-name>count</param-name>
            <param-value>0</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>myFilter1</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>ContactFormServlet</servlet-name>
        <servlet-class>ContactFormServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcessContactFormDataServlet</servlet-name>
        <servlet-class>ProcessContactFormDataServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ThankYouServlet</servlet-name>
        <servlet-class>ThankYouServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ContactFormServlet</servlet-name>
        <url-pattern>/contact-form</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcessContactFormDataServlet</servlet-name>
        <url-pattern>/process-contact-form</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ThankYouServlet</servlet-name>
        <url-pattern>/thank-you</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
</web-app>
